*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color: white;
    display: flex;
    text-align: end;
    justify-content: space-between;
    ul{
        display: flex;
        width: 33%;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
        }
    }
}
.imgbougie{
    width: 300px;
}

.Banniere{
    display: flex;
}

.Imgbanniere{
    width: 50%;
}
.Textbanniere{
    width: 50%;
  display: flex;
  background-color: dimgrey;
  flex-direction: column;
  justify-content: center;
}
h1{
    text-align: center;
    
}
.logoBanniere{
    width: 100%;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.lgBanniere{
    width: 100%;
    display:flex;
    justify-content: space-evenly ;
    flex-direction: row;
    align-items: center;
}
 .lgBanniere{
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    article{
        border: 1px solid  black;
    }
   
}
.lgVert{
    background-color: green;
    padding: 3%;
}
.bgCandle{
    width: 100%;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    text-align: center;  
}
h2 section{
    text-align: center;
}   
.bougieCandle{
    width: 100%;
    display:flex;
    justify-content: space-evenly ;
    flex-direction: row;
    align-items: center;
}
.bougieLueurs{
    display: flex;
    margin: 200px;
    img{
        width: 80%;
        
    }
    article{
        width: 30%;
        border: 1px solid black;
        button{
            background-color: green;
            text-decoration-color: white;
        } 
    }
    justify-content: space-evenly;
}
   
.firstRow{
    display: flex;
}
form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    textarea{
        width: 390px;
        height: 150px;
}
}
#boutton{
    background-color: green;
}
Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    flex-direction: column;
    padding-block: 40px;
}
.bordure{
    border: 1px solid black;
    padding: 30px;
}
.bougie.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 13px;
    box-shadow: 13px;
    box-shadow: 1px 4px 15px black;
    margin: 12px;
    border: 1px solid black;
}
#Paraapropos{
width: 50%;
text-align: right;
justify-content: right;
flex-direction: row;
}
#Fabrique{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Nous{
    background-color: beige;
}
#apropos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.made{
    display:flex;
    justify-content: center;
    align-items: center;
}

#faire{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    img{
        display: flex;
        justify-content: left;
        border: 1px solid black;
    } 
    p{
        justify-content: right;
        align-items: end;
        flex-direction: row;
        text-align: right;
    }
}
#premier{
    display: inline;
    text-align: right;
    justify-content: right;
    flex-direction: row;
    align-items: right;
}
#deuxième{
    display: inline;
    text-align: right;
    justify-content: right;
    flex-direction: row; 
    align-items: right;
    padding-block: 40px;
    background-color:gray;
}
#troisième{
    display: inline;
text-align: right;
justify-content: right;
flex-direction: row; 
align-items: right;
}