*{
    margin: 0;
    padding: 0;
    border: solid 1px red;
}
header{
    background-color: white;
    display: flex;
    text-align: end;
    justify-content: space-between;
}
#imgbougie{
    width: 300px;
}

#Banniere{
    display: flex;
}

#Imgbanniere{
    width: 50%;
}
#Textbanniere{
    width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
    text-align: center;
    
}